import { defineConfig } from 'vite';
import angular from '@analogjs/vite-plugin-angular';
import { keycloakify } from 'keycloakify/vite-plugin';

export default defineConfig(({ mode }) => ({
  build: {
    target: ['es2022'],
  },
  root: __dirname,
  plugins: [
    angular(),
    keycloakify({
      accountThemeImplementation: 'none',
      themeName: '<%= name %>'
    }),
  ],
  define: {
    'import.meta.vitest': mode !== 'production',
  },
}));
